 <div id="/historia" class="row align-items-center py-4">
            <div class="col-lg-2 col-md-3 offset-lg-2 d-node d-sm-block">
                <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
            </div>
            <div class="col-lg-12 d-sm-none">
                <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>Historia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, non itaque! Sapiente aliquid
                    recusandae molestiae amet explicabo vitae voluptatem veniam accusantium, repellendus eos
                    necessitatibus magni. Nisi iste vero ex eos.</p>
            </div>
        </div>
