  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cervs</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a data-scroll class="nav-link" href="#Home">Home </a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="/novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="/historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="/conocenos">Conocenos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">

        <div id="Home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-2">
                <p>Bajada</p>
                <h1>Titulo principal</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed labore perspiciatis aut velit dolor
                    alias magnam eveniet, voluptatibus, amet voluptas dolores quod? Veniam vero blanditiis quaerat
                    consectetur facilis, alias labore!</p>
            </div>
        </div>
        </div>

    

