  <div id="/novedades" class="row py-4">
            <div class="col-md-5 offset-md-2 py-3">
                <h2>Novedades</h2>
                <ul class="Lista-novedades">
                    <li><a href="#" data-toggle="modal" data-target="#Nove01Modal"><img src="images/novedades01.jpg"
                                alt="">Nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg" alt="">Nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg" alt="">Nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg" alt="">Nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg" alt="">Nuevas recetas</a></li>
                </ul>
            </div>
